/* Overlay style */
.overlay { position: fixed; width: 100%; bottom: 100%; left: 0; background: #1c2530; z-index: 100; opacity: 1 !important;}
/* Menu style */
.overlay nav {text-align: center; position: relative; top: 50%; height: 60%; font-size: 54px; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
/* Effects */
.overlay-hugeinc { -webkit-transition: bottom 0.5s; transition: bottom 0.5s;}
.overlay-hugeinc.open { bottom: 0;}
@media screen and (max-height: 30.5em) {
}